body {
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.hero {
    margin-top: 50px;
}

.button {
    padding: 8px 35px 8px 35px;
}

.light {
    background-color: #999;
}

.main {
    background-color: #0066CC;
    color: white;
}

/* Desktop sizes */
@media (min-width: 600px) {
    img {
        width: 50%;
    }
}
